<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div class="header_child">
          <span>  <img src="../images.jpg" alt="#" height="80px" width="80px"></span>
        <a href="www.hocwebchuan.com">www.hocwebchuan.com</a>
        </div>
        <div class="button">
        <div>Button01</div>
        <div>Button02</div>
        </div>
        <div class="header_child_1">
            <ul>
                <li><a href="#">Link 01</a></li>
                <li><a href="#">Link 02</a></li>
                <li><a href="#">Link 03</a></li>
                <li><a href="#">Link 04</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="menu">

                <ul>
                    <li><a href="#">TRANG CHỦ</a></li>
                    <li><a href="#">GIỚI THIỆU</a></li>
                    <li><a href="#">SẢN PHẨM</a></li>
                    <li><a href="#">DỊCH VỤ</a></li>
                    <li><a href="#">LIÊN HỆ</a></li>
                </ul>


        </div>
        <div id="main">
            <div class="main_child_1">
                <div>
                    <h3>Link liên quan</h3>
                    <hr>
                    <div>
                        <li><a href="#">&blacktriangleright;Link liên quan 01</a></li>
                        <li><a href="#">&blacktriangleright;Link liên quan 02</a></li>
                        <li><a href="#">&blacktriangleright;Link liên quan 03</a></li>
                        <li><a href="#">&blacktriangleright;Link liên quan 04</a></li>
                        <li><a href="#">&blacktriangleright;Link liên quan 05</a></li>
                        <li><a href="#">&blacktriangleright;Link liên quan 06</a></li>
                    </div>
                </div>
                <div class="main_sub">
                    <h3>Link liên quan</h3>
                    <hr>
                    <div>
                        <li>BANNER</li>
                        <li>BANNER</li>
                        <li>BANNER</li>
                    </div>
                </div>
            </div>
            <div class="main_child">
                <h3>Sản phẩm mới</h3>
                <hr>

                    <div class="sub">
                    <img src="../images.jpg" alt="#" height="104px" width="200px">
                    <div>
                        <p><b>Tên sản phẩm</b></p>
                        <p>Text giới thiệu sản phẩm Text giới thiệu sản phẩm Text giới thiệu sản phẩm
                            Text giới thiệu sản phẩm Text giới thiệu sản phẩm</p>
                      </div>
                    </div>

                <div class="img">
                    <img src="../h11.jpg" alt="#" height="80px" width="80px">
                    <img src="../h11.jpg" alt="#" height="80px" width="80px">
                    <img src="../h11.jpg" alt="#" height="80px" width="80px">
                    <img src="../h11.jpg" alt="#" height="80px" width="80px">
                    <img src="../h11.jpg" alt="#" height="80px" width="80px">
                    <img src="../h11.jpg" alt="#" height="80px" width="80px"> <br> <br> <br>
                </div>
            </div>
            <div class="main_child">
                <h3>Tin Tức</h3>
                <hr>
                <div>
                    <input type="date" name="date">
                    <ul><li><a href="#">Tin mới</a></li></ul>
                </div>
                <hr>
                <div>
                    <input type="date" name="date">
                    <ul><li><a href="#">Tin mới</a></li></ul>
                </div>
                <hr>
                <div>
                    <input type="date" name="date">
                    <ul><li><a href="#">Tin mới</a></li></ul>
                </div>
                <div class="button_1"> BANNER CONTACT</div>
            </div>

            <hr>
        </div>
    </div>
    <div id="footer">
        <div class="footer_child">
            <p>TÊN CÔNG TY</p>
            <P>Địa chỉ: 123 abc, phường X, quận Y, tp.Z</P>
            <p>ĐT:012.345678</p>
            <p>Email:support@hocwebchuan.com</p>
        </div>
        <div class="footer_child_1">
            <ul>
                <li><a href="#">link 01</a></li>
                <li><a href="#">link 02</a></li>
                <li><a href="#">link 03</a></li>
                <li><a href="#">link 04</a></li>
            </ul>
            <br>
            <div>Copy &copy; 2012 Tên công ty</div>
        </div>
    </div>
</div>
</body>
</html>