body{
    margin:0;
}
#container{
    margin:auto;
    border: 1px solid gray;
    width:900px;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
}
#header{
    height: 40%;
    position: relative;
  margin: 10px;
}
.header_child{
    margin:0;
    padding: 20px;
}
.header_child a{
    text-decoration:none;
    float: left;
    position: absolute;
    top:110px;
    left:10px;
    color: darkslategray;
}
.header_child img{
    float:left;
}
.button div{
    border: 1px solid gray;
    border-radius: 10px;
      background: gray;
     display: inline-block;
      padding:8px;
      margin:0 5px;
     color: white;
     position:relative;
     left:600px;
    top:0;
}
.header_child_1 li{
    list-style-type:none;
    display: inline;
    text-indent: 20px;
   position:relative;
   left:500px;
   top:20px ;
}
.header_child_1 li+li:before{
    padding: 5px;
    color:#004ff2;
    content: "|\00a0";
}
.header_child_1 a:hover{
    color: lightpink;
}
.button div:hover{
    background: black;
}
.header_child a:hover{
    color: dodgerblue;
}
#content{
    overflow:auto;
}
#menu {
    background: gray;
    position:relative;
    padding:10px;
}
#menu a{
    color:white;
    text-decoration:none;
    padding:10px;
}
#menu li{
    color:white;
    display:inline-block;
     text-align: left;
    list-style-type: none;
}
#menu li+li:before{
    content:"|\00a0";
    padding:5px;
}
#menu a:hover{
    background:black;
}
#main{
    overflow:auto;

}
.main_child_1{
    float:right;
    font-size:16px;
    color: gray;
    padding:20px;
    height: 100%;
}
.main_child_1 h3{
    padding-right:20px;

}
.main_child_1 li{
    padding: 5px;
}
.main_sub li{
    background: gray;
    color:white;
    padding:15px;
    display:block;
    margin:5px 0;
    border:1px solid gray;
    border-radius: 5px;
    text-align:center;
    font-family: arial;
}
.main_sub li:hover{
    background:black;
}
.main_child_1 a:hover{
    color:pink;
}
.main_child{
    padding:20px;
    font-size: 16px;
    color:gray;
    width:700px;
}
.sub{
    height: 150px;
}
.main_child img{
    padding:3px;
    float:left;
    margin:5px;

}
.main_child b{

    text-align:center;
    color:darkblue;
}


.img{
    border:1px dashed #e8e8e8;
    height:100px;
    width:600px;
    padding-left:20px;
}
.button_1 {
    background:gray;
    color:white;
    text-align:center;
    width:600px;
    padding:20px;
    font-size:30px;
    border:1px solid black;
    border-radius:5px
}
.main_child img:hover{
    background: #e8e8e8;
}
#footer{
    padding:20px;
    position:relative;
    font-size:12px;
}
.footer_child p{
    color:#333333;
    text-align:left;
    line-height:0.5;
}
.footer_child_1{
    float:right;
   overflow: auto;
    position:absolute;
    top:0;
    right:10px;

    }
.footer_child_1 div{
    text-align: right;
}
.footer_child_1 li{
display: inline;
    float:left;
}
.footer_child_1 li+li:before{
    content:"|\00a0";
    padding:0 5px;
}

