<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>khung web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
    <div id="header">header</div>
    <div id="content">
        <div id="menu">
            <div class="menu_child_1">menu1</div>
            <div class="menu_child">menu2</div>
        </div>
        <div id="main">
            <div class="main_child">main</div>
            <div class="main_child_1"> main footer</div>
        </div>
    </div>
    <div id="footer">&copy; 2018 rights reserved</div>
</div>
</body>
</html>