<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1>Welcome to My Homepage</h1>
        <p>Use the menu to select different Stylesheet</p>
    </div>
    <div id=content>
        <div  class="menu">
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
            </ul>
        </div>
        <div class=" main">
            <div class="main_child">
            <h1>Same Page Different Stylesheet</h1>
            <img src="h13.jpg" width="104px" height="104px">
            <p>This is demonstration of how different stylesheet can change the layout of your HTML page.
                You can change the layout of this page by selecting different stylesheets in the menu, or by
                selecting one of the following links: </p>
            <ul>
                <li><a href="#">Stylesheet1</a></li>
                <li><a href="#">Stylesheet2</a></li>
                <li><a href="#">Stylesheet3</a></li>
                <li><a href="#">Stylesheet4.</a></li>
            </ul>
            </div>

            <div class="main_child_1">
                <h1>No Styles</h1>
                <img src="h16.jpg" width="104px" height="80px">
                <p>This the page uses DIV elements to group different setions of the HTML page.
                   Click here to see how the page looks like with no stylesheet:</p>
            </div>
        </div>
        <div class="menu_right">

            <h1>Side-Bar</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing alit, sed diam nonummy
            nidh euismod tincidunt ut laoreet dolore magna aliquaam erat volutpat.</p>

        </div>
    </div>
    <div id="footer">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing alit, sed diam nonummy nibh auismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation allamcorper suscipit
            lobortis nisl ut aliquip ex ea commodo consequat. duis autem vel eum iriure dolor in hendrerit in vulputate velit
            ease moiestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
            dignissim qui blandit praesent lupatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
    </div>

</div>

</body>
</html>