body{
    margin:0;
}
#container{
    box-sizing: border-box;
    margin:auto;
    width:1000px;
    height:900px;
}
#header{
    background: #83d385;
    line-height:4px;
    color:white;

    padding:30px 0;
    text-align:center;
    margin-top:10px;
    border-radius:5px;

}
li{
    list-style-type:none;
}
.menu ul{
    width: 200px;
    float:left;
    padding:0;
    margin-top:20px;
}
.menu li{
    display:block;
    margin:5px 0;
    border:1px solid gray;
    border-radius:5px;
    padding:10px 0;
    text-align:left;
    width:150px;
    background: #e8e8e8;
    text-indent:10px;
    height:auto;
}
.menu li:hover{
    background:#83d385;
    color:white;
}
.menu_right{
    background:dodgerblue;
    color:white;
    border-radius:5px;
    height:350px;
   float:left;
    width:200px;
    margin:20px 5px;
    margin-left:20px;
    padding:10px;
}
.main{
    width:550px;
    float:left

}
.main_child img{
    float:left;
    padding-right:5px;
}
.main ul{
   padding-top:30px;
}
.main_child li{
    display: inline;
}
.main_child a{

   color: black;
}
.main_child li+li:before{
    content:",\00a0";
}
.main_child a:hover{
    color: pink;
}
.main_child_1{
    margin:0;
    padding:0;
}
.main_child_1 img{
    float:right;
}
.main_child_1 {
    margin: 0;
}
/*[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-3 {width: 25%;}

.col-6 {width: 50%;}


@media sceen and(max-width:768px){
    [class*="col-"]{
        width:100%;
    }
}
*/
#footer{
    background: #e8e8e8;
    width:900px;
    float:left;
    border-radius:5px;
    margin:10px 0;
    border: 1px solid gray;
}
