div{
    background-image: url('https://www.google.com.vn/search?q=h%C3%ACnh+%E1%BA%A3nh+phong+c%E1%BA%A3nh&tbm=isch&source=iu&ictx=1&fir=P5w8zVKu4wiz9M%253A%252CffzHSQ6VC0W-ZM%252C_&usg=AI4_-kRO0xOho1pyc4k5NNpZhjeK5s27nA&sa=X&ved=2ahUKEwjb4rTO7O7dAhUJWLwKHT18Dj4Q9QEwAHoECAYQBA#imgrc=J_4QQWydVXwPXM:');
    width:500px;
    height:500px;
    padding:55px;
    background-repeat:no-repeat;
    packground-position:center center;
    background-size:200px,300px;
}